/* Css cho header  */
* {
  padding: 0;
  margin: 0;
}
.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  background-color: #ff5722;
  border-radius: 5px;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 1000;
}
.header__shoppe img {
  width: 150px;
  cursor: pointer;
  margin-left: 50px;
}
nav ul {
  display: flex;
  list-style-type: none;
}
nav ul li {
  margin-right: 20px;
}
.header__timkiem {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
input + button {
  margin-left: 10px;
}
.header__timkiem input {
  padding: 3px;
  border-radius: 4px;
  border: 2px solid rgb(124, 121, 121);
}
.header__timkiem button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #fff;
}
@media (max-width: 768px) {
  .header__shoppe img {
    margin-left: 0;
    width: 80px;
  }
  .header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
/* Css cho main */
.main {
  display: grid;
  gap: 20px;
  padding: 20px;
  width: 80%;
}
.main-list {
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main-list h2 {
  font-size: 1.2rem;
  margin: 10px 0;
}
.main-list p {
  font-size: 1rem;
  color: #888;
}
.main-list button {
  background-color: #ff5722;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.main-list button:hover {
  background-color: #b9684f;
}
@media (min-width: 700px) {
  .main-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
main {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .main-list {
    padding: 0;
  }
  .main {
    display: grid;
    column-gap: 10px;
    padding: 0;
    margin-top: 10px;
  }
}
.banner-left {
  background-color: #f2f2f2;
  padding: 20;
  position: sticky;
  top: 20%;
  left: 0;
  z-index: 1000;
  height: 10%;
}
.banner-right {
  background-color: #f2f2f2;
  padding: 20;
  position: sticky;
  top: 20%;
  right: 0;
  z-index: 1000;
  height: 10%;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo img {
  width: 80px;
  height: auto;
  margin-left: 10vh;
}

.footer-info p {
  margin: 5px 50px;
}
.error-message {
  color: red;
  display: none;
}

.loadmore {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15vh;
  margin-bottom: 10vh;
}

.loadmore a {
  text-decoration: none;
}

.loadmore a:hover {
  opacity: 0.5;
}
