/* Css Cho header  */
* {
  padding: 0;
  margin: 0;
}
.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  background-color: #ff5722;
  border-radius: 5px;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.header__shoppe img {
  width: 150px;
  cursor: pointer;
  margin-left: 50px;
}
nav ul {
  display: flex;
  list-style-type: none;
}
nav ul li {
  margin-right: 20px;
}
.header__timkiem {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
input + button {
  margin-left: 10px;
}
.header__timkiem input {
  border-radius: 4px;
  border: 2px solid rgb(124, 121, 121);
  padding: 3px;
}
.header__timkiem button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #fff;
}
.header__timkiem button:hover {
  opacity: 0.9;
}
@media (max-width: 768px) {
  .header__shoppe img {
    margin-left: 0;
    width: 80px;
  }
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* Css Cho main  */
.main {
  width: 85%;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 40px 50px;
  border: 2px solid rgb(156, 153, 153);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
}
@media (max-width: 786px) {
  .main {
    padding: 40px 25px;
  }
}
h2 + h3 {
  margin-top: 5px;
}
p + p {
  margin-top: 5px;
}
.main__img img {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main__img + .main__h3 {
  margin-left: 10px;
}
.main__h3 h3 {
  color: #ff5722;
}
.main__h3 .main__h3--p strong {
  color: #fff;
  border: 2px solid #ff5722;
  background-color: #ff5722;
  border-radius: 5px;
}
.main__h3 .main__h3--strong strong {
  opacity: 0.5;
}
.main__h3 .main__h3--input input {
  width: 30px;
}
.main__h3 button {
  font-size: 1rem;
  padding: 8px;
  border: 2px solid #ff5722;
  border-radius: 5px;
  color: #ff5722;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 10px;
}
.main__h3 button:hover {
  opacity: 0.5;
}
.main__h3 .main__h3--card {
  border: 2px solid black;
  padding: 5px;
  border-radius: 5px;
  background-color: #ff5722;
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
.main__h3--card:hover {
  opacity: 0.5;
}

h2 + h3 + p {
  font-size: 20px;
}
.main__h3 h3 {
  font-size: 24px;
}
.main__h3 .main__h3--p {
  font-size: 20px;
}
.main__h3 .main__h3--strong {
  font-size: 20px;
}
.main__h3 .main__h3--input {
  font-size: 20px;
}
.main__h3 .main__h3--card {
  font-size: 20px;
}
/* Css container */
.container {
  width: 85%;
  height: auto;
  padding: 50px;
  border: 2px solid rgb(148, 144, 144);
  margin: auto;
  margin-top: 20px;
}
.box {
  display: flex;
  justify-content: center;
}
.box + .box {
  margin-top: 30px;
}
.box1 i {
  margin-right: 5px;
}
.box2 button {
  font-size: 1rem;
  border: 2px solid black;
  border-radius: 5px;
  color: #fff;
  background-color: #ff5722;
  margin-left: 5px;
  padding: 5px;
  cursor: pointer;
}
.box2 button:hover {
  opacity: 0.5;
}
.box3 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.box3 p {
  margin-left: 18px;
}
/* CSS cho footer */
footer {
  height: 150px;
  display: flex;
  justify-content: space-between;
  background-color: #333;
  border: 2px solid black;
  margin-top: 20px;
  border-radius: 5px;
}
.footer-logo img {
  width: 150px;
  margin-top: 40px;
  margin-left: 50px;
}
.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.footer-info p {
  margin-right: 40px;
  margin-top: 20px;
}
/* Css cho blackk bài 3 */
.blackk {
  height: 85%;
  background-color: #fff;
  padding: 50px;
  border: 2px solid #333;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.block {
  margin-top: 30px;
  margin-left: 10px;
}
.black__1 {
  display: flex;
  justify-content: flex-end;
}
.black__1 input {
  width: 25px;
  height: 20px;
  margin: auto;
}
.black__1 img {
  margin-left: 20px;
}
.black__3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 1.1rem;
}
.black__3 #money {
  text-decoration: line-through;
}
.black__3 #money1 {
  margin-top: 0;
  margin-left: 5px;
}
.black__4 button {
  width: 25px;
  color: #fff;
  margin-left: 0;
  background-color: #ff5722;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
}
.black__4 button:hover {
  opacity: 0.5;
}
.black__4 input {
  width: 30px;
  height: 18px;
  border-radius: 3px;
}
.black__5 p {
  background-color: #ff5722;
  color: #fff;
  padding: 5px;
  border: 2px solid black;
  border-radius: 4px;
  cursor: pointer;
}
.black__5 p:hover {
  opacity: 0.5;
}
@madia (min-width:400px) {
  /* .blackk {
    display: grid;
    grid-template-columns: 1fr;
  } */
}
/* Css cho projects */
.projects {
  height: 200px;
  padding: 50px;
  background-color: #fff;
  border: 2px solid #333;
  margin-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: end;
}
.projects p {
  margin-top: 20px;
  color: #ff5722;
  font-size: 1.3rem;
}
.projects button {
  margin-top: 20px;
  padding: 5px;
  background-color: #ff5722;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.projects button:hover {
  opacity: 0.5;
}
